<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <script src="{% static 'filter.js' %}"></script>
  </head>
  <body>
    {% include 'nav.html' %}
    <br><br>
    <h3 align="center">Uses API endpoint from <a href="http://localhost:8000/api/filter-news?type=story">/api/filter-news?type={story}</a></h3>
    <div class="dropdown" align="center">
      <button class="btn btn-primary dropdown-toggle px-5" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose a topic
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item">story</a>
        <a class="dropdown-item">job</a>
        <a class="dropdown-item">poll</a>
        <a class="dropdown-item">comment</a>
      </div>
    </div>
    <br>

    <h1 align="center">Output</h1>
    <div id="posts">
      <template search-out>
        <p align="center">Title</p>
      </template>
    </div>
    <br>
    <p align="center" page style="display: none;"><button id="prev" class="btn btn-outline-secondary">previous</button><text style="padding-left: 20px; padding-right:20px;"><page>1</page> of <page-count>1</page-count></text><button class="btn btn-outline-secondary" id="next">next</button></page-count>
  </body>
</html>