<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/search-bar.css">
</head>
  <body>
    <div class='search_con'>
          <form action="/search" method="get" class="input_con">
            <input type="text" placeholder='Search for Query...' spellCheck="False" id="queryFind"/>
            <span id="clearBtn"><i class="bi bi-x-lg"></i></span>
            <span class='h-line'></span>
            <a href="https://t.me/rawnge" target="_blank">
            <span><i class="bi bi-search"></i></span>
              </a>
          </form>
        </div>
  </body>
</html>