<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <script src="{% static 'latest-news.js' %}"></script>
  </head>
  <body>
    {% include 'nav.html' %}
    <br><br>
    <h3 align="center">Uses API endpoint from <a href="http://localhost:8000/api/latest-news">/api/latest-news</a></h3>
    <h1 align="center">Latest news</h1>
    <div id="news">
      <template search-out>
        <p align="center">
          <a>
            Title
          </a>
          <sub>time</sub>
        </p>
      </template>

    </div>
    <br>
    <p align="center"><button id="more" class="btn btn-outline-secondary">Load More</button></p>
  </body>
</html>